<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>W2_solitaire</title>
  <link rel="stylesheet" href="./css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>
  <div id="main">
    <div class="temporarily-container">
      <div class="temporarily"></div>
      <div class="temporarily"></div>
      <div class="temporarily"></div>
      <div class="temporarily"></div>
    </div>
    <div class="finshed-container">
      <div class="finshed"></div>
      <div class="finshed"></div>
      <div class="finshed"></div>
      <div class="finshed"></div>
    </div>
    <div class="gamming-container">
      <div class="card-row" v-for="blcok in gamming">
        <div class="card" v-for="(card, index) in blcok" :class="suitColor[card.suit]" :data-kind="card.suit"
          :key="index" :style="{top: -160 * index + 'px' , zIndex: index}">
          <div class="rank" :data-rank="card.rank">
            {{card.rank}}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
<script src="./js/main.js"></script>